main{
    display: grid;
    padding: 6rem;
    gap: 6rem;
    align-items: center;
    background-color: #fcf8ed;
}
.font-semibold {
    font-weight: bold;
  }
  .steps-list {
    list-style: none;
    counter-reset: step;
    padding-left: 0;
  }
  
  .steps-list li {
    counter-increment: step;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .steps-list li::before {
    content: counter(step);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color:#dbdada80;
    color:  #3490dc;
    font-size: 0.875rem;
    margin-right: 0.5rem;
  }
  .question
  {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 1.25rem 0;
    font-weight: 500;
    
  }
  .faq2
  {
    display: flex;
    flex-direction: row-reverse;
    gap:4rem;
  }
  .faq-item
  {
    width: 900px;
    cursor: pointer;
    border-bottom: 1px solid #dbdada80;
  }
  .answer
  {
    display: none;
  }
  .steps-list li span.font-semibold {
    font-weight: bold;
  }
.bg1
{
    width: 100%;
  transform: translateY(-100%); 
}
.d2,.d3
{
    padding: 2rem;
    border-radius: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.d4, .d1
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.d2{
    padding: 0;
    gap:4rem;
    padding-bottom: 2rem;
}
.d5 {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: stretch;
        justify-content: center;
}
.d5 >div
{
    align-items: flex-start;
    padding: 1.5rem;
    background-color: #000a2008;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: 1rem;
    justify-content: space-between;

}
.d1
{
    flex-direction: row;
    gap:2rem
}
h1{
    line-height: 44px;
    font-size: 2.25rem;
    text-align: left;
    font-weight: 600;
    margin: 0;
}
.d1 p{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.d1 img{
    width: 200px;
}
.d2
{
    font-weight: 500;
    
}
.d2 button
{
    border: none;
    border-radius: 5px;
    padding: 8px 23px;
    background-color: #000A2008;
}
.d3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 24px;
    border: none;
}
.d3 button
{
    background-color: #000a2008;
    border:none;
    border-radius: 9999px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #262626;
}
